@charset "UTF-8";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFF;
  color: #444444;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 140px;
  min-height: 100%;
  background-color: #FFFFFF;
}
/* Site Buttons */
.button,
.button:visited {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  display: grid;
  align-items: center;
  text-align: center;
  min-width: 249px;
  box-sizing: border-box;
  padding: 18px 39px;
  color: #000000;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 3px solid #000000;
}


.button:focus-visible {
  outline: none;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button.disabled {
  background-color: #E5E5E5;
  cursor: not-allowed;
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
  padding-bottom: 150px;
}

.page-header {
  position: relative;
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
  color: inherit;
}
.page-header-container {
  position: relative;
  box-sizing: border-box;
  padding: 43px 44px 0 60px; /*23*/
  background-color: #FFE17F;
}

.page-header-logo {
  position: absolute;
  top: -20px;
  display: block;
  height: 36px;
}
.page-header-logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.page-header-logo:hover {
  opacity: 0.6;
}
.page-header-logo:active {
  opacity: 0.3;
}

.page-header-service {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 27px;
}

.site-search-form {
  flex-basis: 515px;
}
.site-search-input {
  width: 359px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  padding: 8px 10px 8px 46px;
  margin: 0;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  background-image: url("../images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
}
.search-controls {
  display: flex;
  align-items: baseline;
}
.site-search-form:focus-within .search-controls {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.site-search-input:disabled {
  opacity: 0.3;
}
.site-search-button {
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  padding: 8px 56px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}
.site-search-button:focus {
  outline: none;
}
.site-search-button:hover,
.site-search-button:active {
  background: #000000;
  border-collor: #000000;
  color: #FFFFFF;
}
.site-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}
/***** Navigation User Menu  *****/

.navigation-user {
  flex-basis: 515px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-user-item {
  position: relative;
  margin-left: 6px;
}
.navigation-user-item.first {
  margin-left: 0;
  margin-right: auto;
}

.navigation-user-link {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  color: #000000;
  border: 2px solid #FFE17F;
  padding: 2px 6px 2px 2px;
}
.navigation-user-link:focus {
  opacity: unset;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.navigation-user-link:hover {
  opacity: 0.6;
}
.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link.login::before,
.navigation-user-link.profile::before{
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  width: 13px;
  height: 12px;
  margin-right: 13px;
  background-image: url("../images/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  opacity: 1;
}
.navigation-user-link.compare::before {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
  width: 10px;
  height: 12px;
  background-image: url("../images/icons/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}
.navigation-user-link.cart {
  padding-left: 17px;
  padding-right: 13px;
}
.navigation-user-link.cart::before {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
  width: 16px;
  height: 14px;
  background-image: url("../images/icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}
.navigation-user-link.logout {
  opacity: 0.3;
  margin-left: 9px;
}
.navigation-user-link .badge {
  position: absolute;
  display: block;
  top: 9px;
  left: 4px;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 21px;
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 100;
}
.navigation-user-link.hidden {
  display: none;
}

.tooltip-toggle:hover .children-info-popup,
.tooltip-toggle:focus .children-info-popup {
  display: block;
}
/** Cart Info PopUp **/
.cart-info-popup {
  position: absolute;
  top: 15px;
  left: 37px;
  display: block;
  z-index: 100;
  background: #000000;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  width: 320px;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  transform: translate(-50%, 25px);
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.cart-info-popup:before {
  display: block;
  position: absolute;
  top: -15px;
  box-sizing: border-box;
  margin-left: -11px;
  left: 50%;
  content: ' ';
  border-color: transparent transparent #000000 transparent;
  border-style: solid;
  border-width: 11px;
}
.cart-info-popup.hidden {
  display: none;
}
.popup-cart-item {
  display: grid;
  grid-template-columns: 270px auto;
  padding: 20px 0 19px 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255,255,255, 0.1);
}

.popup-cart-item-link {
  display: grid;
  grid-template-columns: 63px 187px;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin-left: 20px;
}
.item-delete-button {
  display: block;
  margin-right: 20px;
}
.popup-cart-item-link:focus,
.item-delete-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.popup-cart-item-link:hover,
.item-delete-button:hover {
  opacity: 0.6;
}
.popup-cart-item-link:active,
.item-delete-button:active {
  opacity: 0.3;
}

.popup-cart-item-text {
  line-height: 20px;
  color: #FFFFFF;
}
.popup-cart-item-delete {
  justify-self: right;
}
.item-delete-image {
  display: block;
}
.cart-info-popup-total {
  display: grid;
  grid-template-columns: 140px 140px;
  background-color: #1A1A1A;
  list-style: none;
  margin: 0;
  padding: 11px 20px 12px 20px;
}
.total-products {
  justify-self: left;
}
.total-sum {
  justify-self: right;
}
.popover-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  display: grid;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  cursor: pointer;
  background-color: #FFFFFF;
  margin: 20px 20px 0 20px;
}
.popover-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.popover-button:hover {
  background-color: #FFE17F;
}
.popover-button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: unset;
}
.popover-button:disabled,
.popover-button.disabled,
.popover-button.disabled:focus,
.popover-button.disabled:hover {
  background-color: #FFFFFF;
  outline: unset;
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}


/***** Navigation User Menu End  *****/

/***** Site Main Navigation  *****/

.page-header-navigation {
  padding: 4px 0 1px 0;
  box-sizing: border-box;
  background-color: #FFE17F;
}

.header-main-menu {
  position: relative;
  display: grid;
  grid-template-columns: 292px auto 166px 166px 179px;
  margin: 0 12px 0 0;
  padding-left: 0;
  list-style: none;
}

.main-menu-item {
  display: flex;
  position: relative;
  width: max-content;
  justify-self: right;
  align-items: center;
}
.main-menu-item.first {
  justify-self: left;
}

.main-menu-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 4px 0 3px 2px;
  margin: 0 0 6px 0;
}
.main-menu-item.first .main-menu-link,
.main-menu-item.first .main-menu-link:active {
  padding: 0;
  margin: 0;
}
.main-menu-item.first .main-menu-link:focus {
  outline-offset: 2px;
}
.main-menu-item.first .main-menu-link:active::after {
  display: none;
}
.main-menu-link:focus {
  outline: 2px solid #AF4FFF;
  z-index: 111;
}
.main-menu-link:hover {
  opacity: 0.6;
}
.main-menu-item.first .main-menu-link:hover {
  opacity: 1;
}
.main-menu-link:active {
  opacity: 0.3;
  margin-bottom: 0;
}
.main-menu-link.first .main-menu-link:active {
  opacity: unset;
}

.main-menu-link:active::after {
  content: " ";
  display: block;
  border-bottom: 2px solid #000000;
  padding-top: 4px;
  margin-bottom: 0;
  margin-right: 3px;
}

.catalog-link {
  display: flex;
  align-items: center;
}
.catalog-icon {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  background-image: url("../images/icons/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 11px;
}
.main-menu-item.first .main-menu-link:hover .catalog-icon,
.main-menu-item.first .main-menu-link:active .catalog-icon{
  opacity: 1;
}
.main-menu-item.active .catalog-icon {
  background-image: url("../images/icons/icon-minus.svg");
}
/** Catalog SubMenu **/

.dropdown-menu-container {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 182px));
  width: 1160px;
  box-sizing: border-box;
  padding: 11px 60px 40px 60px;
  column-gap: 30px;
  position: absolute;
  top: 54px;
  left: -60px;
  z-index: 112;
  background-color: #FFE17F;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}
.dropdown-menu:first-child {
  width: 222px;
}
.dropdown-menu-item {
  margin: 0 0 17px 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-menu-item:active {
  margin-bottom: 12px;
}

.main-menu-item:hover .dropdown-menu-container,
.main-menu-item:focus-within .dropdown-menu-container,
.main-menu-item.active .dropdown-menu-container {
  display: grid;
}

.dropdown-menu-link {
  display: block;
  width: max-content;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.dropdown-menu-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.dropdown-menu-link:hover {
  opacity: 0.6;
}
.dropdown-menu-link:active {
  opacity: 0.3;
}
.dropdown-menu-link:active::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #000000;
  padding-top: 4px;
  margin-bottom: 0;
}
/***** Site Main Navigation End  *****/

/***** Slider Start *****/

.slider-container {
  position: relative;
}
.slider::before {
  content: "";
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 135px;
  background-color: #FFE17F;
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -150px 0 0 0; /*-121*/
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 560px 560px;
  gap: 40px;
}
.slider-item.hidden {
  display: none;
}
.slider-item-image {
  display: block;
  z-index: 100;
}
.slider-item-content {
  position: relative;
  top: 29px;
}
.slider-info-container {
  position: relative;
  padding-bottom: 203px;
}

.slider-product-number {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 0;
  height: 121px;
  line-height: 135px;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  color: #FFFFFF;
}
.slider-item-title {
  position: absolute;
  top: 93px;
  left: 0;
  z-index: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.slider-item-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.slider-item-more-button {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 9px 18px 10px 22px;
  min-width: 180px;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 32px;
}
.slider-item-more-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: #FFE17F;
  left: 0;
  top: 15px;
  bottom: 17px;
  transition: top .3s ease-in-out, bottom .3s ease-in-out;
}
.slider-item-more-button:focus::before {
  top: 15px;
  bottom: 17px;
}
.slider-item-more-button:active::before,
.slider-item-more-button:hover::before {
  top: 0;
  bottom: 0;
}
.slider-item-more-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-item-more-button:hover::before {
  background-color: #FFE17F;
  outline: unset;
}
.slider-item-more-button:active::before {
  background-color: #FFCC33;
  outline: unset;
}

.slider-item-more-button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.slider-item-more-button.disabled:focus {
  outline: unset;
}
.slider-item-more-button.disabled:hover::before {
  background-color: #FFE17F;
  height: 8px;
}

.slider-item-parameters-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px,max-content));
  column-gap: 40px;
  margin-top: 47px;
  align-content: start;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.parameters-list-item {
  display: flex;
  flex-direction: column;
}
.list-item-name {
  order: 1;
  font-size: 16px;
  line-height: 30px;
}
.list-item-value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin:0 0 12px 0;
}
.slider-controls {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 196px;
  left: 30px;
  justify-content: space-between;
  width: 530px;
}

.slider-button {
  width: 20px;
  height: 60px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider/slider-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  outline: unset;
}
.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.slider-button:hover {
  opacity: 0.6;
}
.slider-button:active {
  opacity: 0.3;
  outline: unset;
}
.slider-button:disabled {
  opacity: 0.1;
  outline: unset;
}
.slider-prev {
  transform: rotate(180deg);
}

.slider-pagination {
  position: absolute;
  bottom: 173px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-item {
  margin: 0 0 0 20px;
  padding: 0;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
.slider-pagination-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.slider-pagination-button:hover {
  opacity: 0.6;
  outline: none;
}
.slider-pagination-button:active {
  opacity: 0.3;
  outline: none;
}
.slider-pagination-button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/***** Slider End *****/

/***** Categories List Start *****/

.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories-item-link {
  display: grid;
  grid-template-rows: 160px auto;
  width: 160px;
  gap: 20px;
  text-decoration: none;
}
.categories-item-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.categories-item-link:hover .category-image-wrapper {
  background-color: #FFC700;
}
.categories-item-link:active .category-image-wrapper {
  opacity: 0.3;
}

.category-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE17F;
}
.category-image-wrapper.bottom {
  align-items: flex-end;
}
.category-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/***** Categories List End *****/

.page-footer {
  background-color: #444444;
}

